<% # header bar for doc items in index view -%>
<%= content_tag :div, class: 'documentHeader row mb-4', data: { layer_id: document.id, geom: document.geometry.geojson } do %>
  <div class='col-md-12'>
    <div class='row'>
      <div class='col-2 thumbnail'>
        <% if document.sidecar.image.attached? %>
          <% if document.sidecar.image.variable? %>
            <%= image_tag document.sidecar.image.variant(resize: "200") %>
          <% else %>
            <%= image_tag document.sidecar.image %>
          <% end %>
        <% else %>
          <span class="icon square" title="<%=document[Settings.FIELDS.RESOURCE_CLASS]%>">
            <%= geoblacklight_icon(document[Settings.FIELDS.RESOURCE_CLASS].first) %>
          </span>
        <% end %>
      </div>
      <div class='col-9'>
        <h3 class="index_title text-span">
          <% counter = document_counter_with_offset(document_counter) %>
          <span class="document-counter">
            <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
          </span>
          <%= link_to_document document, counter: counter, itemprop: "name" %>
        </h3>
        <small>
          <div class='status-icons'>
            <%= render partial: 'header_icons', locals: { document: document } %>
          </div>
          <%= geoblacklight_present(:index_fields_display, document) %>
        </small>
      </div>
    </div>
  </div>
<% end %>
